.App {
  position: relative;
  height: 100vh;
  background: url('paris.png') no-repeat;
  background-size: cover;
  background-position: center;
}

#WeatherApp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}